extends layout

block content
  h1= title
  p Welcome to Node-js

  <!-- Si los datos cargan, mostrará la información encontrada -->
  if datos
      h1 Project
      p #{datos.titulo}

      h1 Version
      p #{datos.autor}
